.header {
  position: fixed;
  width: 100%;
  top: 0;
  border-bottom: 1px solid #6e7489;
  z-index: 999px;
  background-color: white;
}

.nav {
  margin: 20px;
}

.headerTitle {
  font-size: 20px;
  font-weight: 800;
}