.infoWrap {
  text-align: center;
  display: block;
  margin: 0 auto;
}

.infoWrap:nth-child(odd) {
  background-color: ghostwhite;
}

.infoWrap:hover {
  background-color: honeydew;
}

.colWrap {
  flex: 1;
  border: 1px solid whitesmoke;
  border-radius: 0.4em;
  padding: 10px;
  font-size: 12px;
}

.profileWrap {
  min-width: 80px;
}

.rankWrap {
  width: 155px;
}

.registerWrap {
  border: 1px solid lightgray;
}

.registerInput {
  outline: none;
  padding: 10px 40px 10px 15px;
  vertical-align: bottom;
  border: none;
}

.registerButton {
  cursor: pointer;
  background-color: lightskyblue;
  border: none;
}

.btn {
  margin: 5px;
}

.image {
  margin: 5px;
}

.imageInlineWrap {
  display: inline-block;
  font-size: 10px;
  margin: 10px;
}

.matchInfoWrap {
  text-align: center;
  line-height: 2;
  width: 350px;
}

.leadWrap {
  display: block;
}

.leadUL {
  display: table;
  min-width: 950px;
}

.leadUL li {
  display: table-cell;
  border: 1px solid silver;
  border-radius: 0.4em;
  text-align: center;
  margin: 2px;
}

.leadUL li .leadTitle {
  padding: 10px 0;
  font-weight: 800;
  border-bottom: 1px solid;
}

.leadUL li .leadSummoners {
  text-align: left;
  margin: 10px;
}

.leadUL li .leadSummoners div {
  margin: 10px 0;
}

.leadUL li .leadSummoners div:nth-child(1) {
  font-weight: 700;
}