.infoWrap {
  text-align: center;
  display: block;
  margin: 0 auto;
}

.colWrap {
  flex: 1;
  border: 1px solid;
  border-radius: 1em;
  padding: 10px;
  font-size: 12px;
}

.profileWrap {
  min-width: 80px;
}

.rankWrap {
  width: 155px;
}

.btn {
  margin: 5px;
}

.image {
  margin: 5px;
}

.imageInlineWrap {
  display: inline-block;
  font-size: 10px;
  margin: 10px;
}

.matchInfoWrap {
  text-align: center;
  line-height: 2;
  width: 350px;
}

.leadWrap {
  display: block;
}

.leadUL {
  display: table;
  min-width: 950px;
}

.leadUL li {
  display: table-cell;
  border: 1px solid;
  text-align: center;
}

.leadUL li .leadTitle {
  padding: 10px 0;
  font-weight: 800;
  border-bottom: 1px solid;
}

.leadUL li .leadSummoners {
  margin: 10px;
}

.leadUL li .leadSummoners div {
  margin: 10px 0;
}