.myWrap {
  text-align: center;
  float: left;
  display: flex;
}

.colWrap {
  flex: 1;
  border: 1px solid;
  border-radius: 1em;
  padding: 10px;
  font-size: 12px;
}

.btn {
  margin: 5px;
}

.image {
  margin: 5px;
}

.imageInlineWrap {
  display: inline-block;
  font-size: 10px;
  margin: 10px;
}

.matchInfoWrap {
  text-align: center;
  line-height: 2;
}
